<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Back</span></a></div>
        <div class="center sliding">Coin Value</div>
        <div class="right">
            <!-- Right link contains only icon - additional "icon-only" class--><a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="purpose" class="page">
        <!-- Scrollable page content-->
        <div class="page-content">
            <div class="content-block-title">1 coin is worth...</div>
            <div class="list-block">
                <ul>
                    <li>
                        <label class="label-radio item-content">
                            <input type="radio" name="ks-radio" value="1" checked="checked">
                            <div class="item-inner">
                                <div class="item-title">1 Euro</div>
                            </div>
                        </label>
                    </li>
                    <li>
                        <label class="label-radio item-content">
                            <input type="radio" name="ks-radio" value="5">
                            <div class="item-inner">
                                <div class="item-title">5 Euro</div>
                            </div>
                        </label>
                    </li>
                    <li>
                        <label class="label-radio item-content">
                            <input type="radio" name="ks-radio" value="10">
                            <div class="item-inner">
                                <div class="item-title">10 Euro</div>
                            </div>
                        </label>
                    </li>
                </ul>
            </div>
            <div class="content-block">
                <div class="col-100"><a href="done.html" class="button button-big button-fill color-green">Submit</a></div>
            </div>
        </div>
    </div>
</div>