<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Back</span></a></div>
        <div class="center sliding">Services</div>
        <div class="right">
            <!-- Right link contains only icon - additional "icon-only" class--><a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="purpose" class="page">
        <!-- Scrollable page content-->
        <div class="page-content">
            <div class="content-block">
                 <div class="col-100"><a href="coinvalue.html" class="button button-big button-fill color-blue">Put money on my savings account</a></div>
            </div>
            <div class="content-block">
                <div class="col-100"><a href="coinvalue.html" class="button button-big button-fill color-green">Transfer money to charity</a></div>
            </div>
        </div>
    </div>
</div>